@model WebChatSwitch.Web.Models.ItemViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="controlForm">
        <div class="controlBlock">
            <div class="controlLabel">
                <h2>Publish Item</h2>
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="controlBlock">
            <div class="controlLabel">
                <p>
                    Title:
                </p>
            </div>
            <div class="controlContent">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="controlBlock">
            <div class="controlLabel">
                <p>
                    Description:
                </p>
            </div>
            <div class="controlContent">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="controlBlock">
            <div class="controlLabel">
                <p>
                    Expectation:
                </p>
            </div>
            <div class="controlContent">
                @Html.EditorFor(model => model.Expectation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Expectation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="controlBlock">
            <div class="controlLabel">
                <p>
                    Available:
                </p>
            </div>
            <div class="controlContent">
                    <div>
                        <div>
                            @Html.RadioButtonFor(model => model.Available, true)
                        </div>
                        <div>
                            <p>Yes</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.RadioButtonFor(model => model.Available, false)
                        </div>
                        <div>
                            <p>No</p>
                        </div>
                    </div>
            </div>
        </div>

        <div class="controlBlock">
            <div class="controlLabel">
                <p>
                    Photos:
                </p>
            </div>
            <div class="controlContent">
                <div class="demo-wrap upload-demo am-center" style="display:none;">
                    <div class="upload-msg">
                        Upload a file to start cropping
                    </div>
                    <div id="upload-demo"></div>
                </div>
                <input type="hidden" name="Photo1" />
                <input type="hidden" name="Photo2" />
                <input type="hidden" name="Photo3" />
                <span id="chooseBtn" onclick="chooseImage()">ChoosePhoto</span>
                <div id="img" class="imageList">选择的图片</div>
                <button class="upload-result" type="button" style="display:none;">Confirm</button>
            </div>
        </div>

        <div class="controlBlock">
            <div class="controlContent">
                <input type="submit" value="Create" />
            </div>
        </div>

        <div class="controlBlock">
            <label id="info" name="info" class="alert alert-info" style="display:none"></label>
        </div>
    </div>
}

<script src="~/Scripts/croppie.min.js"></script>
<link href="~/Content/croppie.css" rel="stylesheet" />
<script type="text/javascript">
    var images = {
        localIds: [],
        serverIds: []
    };

    function chooseImage() {
        wx.chooseImage({
            count: 3, // 默认9
            sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                images.localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                alert("uploading photo " + images.localIds.count);
                jQuery(function () {
                    $.each(images.localIds, function (i, n) {
                        //$("#img").append('<img src="' + n + '" style="width:50px; height:50px;"/> <br />');
                        wx.uploadImage({
                            localId: images.localIds[i],
                            success: function (res) {
                                //alert("localIds count: " + res);
                                //alert("uploaded photo " + i);
                                images.serverIds.push(res.serverId);
                                $("#img").empty();
                                $("#img").append('<img src="' + res.localId + '"  style="width:50px; height:50px;"/ /> <br />');
                                downloadImage(res.serverId);
                                if (i < length) {
                                    upload();
                                }

                                i++;
                            },
                            fail: function (res) {
                                alert(JSON.stringify(res));
                            }
                        });
                    });
                });
                //jQuery(function () {
                //    $.each(images.serverIds, function (i, n) {
                //        alert("serverId " + i + ":" + images.serverIds[i]);
                //    });
                //});
            }
        });
    }

    $(function () {
        $('form').submit(function () {
            if ($(this).valid()) {
                var btn = $('button:submit');
                btn.attr('disabled', true);

                var Title = $("[name='Title']").val();
                var Description = $("[name='Description']").val();
                var Expectation = $("[name='Expectation']").val();
                var Available = $("[name='Available']:checked").val();
                var Photo1 = $("[name='Photo1']").val();

                $.ajax({
                    url: "Create",
                    method: 'POST',
                    data: { Title: Title, Description: Description, Expectation: Expectation, Available: Available, ServerIds: images.serverIds },
                    success: function (data) {
                        if (data == 'true') {
                            $("[name='info']").text("Successfully published");
                        }
                        else {
                            $("[name='info']").text("Failed to publish");
                        }
                    },
                    error: function () {
                        $("[name='info']").text("Error");
                    },
                    complete: function () {
                        $("[name='info']").css("display", "inline");
                    }
                });
            }
            return false;
        });
    })
</script>