@model WebChatSwitch.Web.Models.ItemViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="controlForm">
        <div class="controlBlock">
            <div class="controlLabel">
                <h2>Publish Item</h2>
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="controlBlock">
            @* @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="controlLabel">
                <p>
                    Title:
                </p>
            </div>
            <div class="controlContent">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="controlBlock">
            @*@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="controlLabel">
                <p>
                    Description:
                </p>
            </div>
            <div class="controlContent">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="controlBlock">
            @*@Html.LabelFor(model => model.Expectation, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="controlLabel">
                <p>
                    Expectation:
                </p>
            </div>
            <div class="controlContent">
                @Html.EditorFor(model => model.Expectation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Expectation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="controlBlock">
            @*@Html.LabelFor(model => model.Available, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="controlLabel">
                <p>
                    Available:
                </p>
            </div>
            <div class="controlContent">
                <div class="checkbox">
                    @Html.RadioButtonFor(model => model.Available, true)<label>Yes</label>
                    @Html.RadioButtonFor(model => model.Available, false)<label>No</label>
                </div>
            </div>
        </div>

        <div class="controlBlock">
            <div class="controlLabel">
                <p>
                    Photos:
                </p>
            </div>
            <div class="controlContent">
                <div class="demo-wrap upload-demo am-center" style="display:none;">
                    <div class="upload-msg">
                        Upload a file to start cropping
                    </div>
                    <div id="upload-demo"></div>
                </div>
                <input type="hidden" name="Photo1" />
                <input type="hidden" name="Photo2" />
                <input type="hidden" name="Photo3" />
                <span id="chooseBtn" onclick="chooseImage()">ChoosePhoto</span>
                <input type="file" id="upload" accept="*/*" value="Choose a file" style="display:none;" />
                <button class="upload-result" type="button" style="display:none;">Confirm</button>
            </div>
        </div>

        <div class="controlBlock">
            <div class="controlContent">
                <input type="submit" value="Create" />
            </div>
        </div>

        <div class="controlBlock">
            <label id="info" name="info" class="alert alert-info" style="display:none"></label>
        </div>
    </div>
}

<script src="~/Scripts/croppie.min.js"></script>
<link href="~/Content/croppie.css" rel="stylesheet" />
<script type="text/javascript">
    function demoUpload() {
        var $uploadCrop;

        function readFile(input) {
            $uploadCrop.croppie('bind', {
                url: input
            });

            $('.upload-demo').addClass('ready').show();
            $(".upload-result").show();
            $("#avatar").hide();
        }

        $uploadCrop = $('#upload-demo').croppie({
            exif: true,
            viewport: {
                width: 170,
                height: 170,
                type: 'square'
            },
            boundary: {
                width: 200,
                height: 200
            },
            showZoom: true
        });

        $("#chooseBtn").on("click", function () {
            wx.chooseImage({
                count: 1, // 默认9
                sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {
                    var localId = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                    wx.uploadImage({
                        localId: localId[0], // 需要上传的图片的本地ID，由chooseImage接口获得
                        isShowProgressTips: 1, // 默认为1，显示进度提示
                        success: function (r) {
                            var _left = ($(window).width() - $(".zipping").width()) / 2;
                            $(".zipping").css("left", _left).show();
                            var serverId = r.serverId; // 返回图片的服务器端ID
                            $.getJSON("/Weixin/GetWeixinImageBase64?serverId=" + serverId).success(function (json) {
                                readFile(eval("{" + json + "}"));
                                $(".zipping").hide();
                            })
                        }
                    });
                }
            });
        });

        $('.upload-result').on('click', function (ev) {
            $uploadCrop.croppie('result', {
                type: 'canvas',
                size: 'original'
            }).then(function (resp) {
                popupResult({
                    src: resp
                });
            });
        });
    }

    function popupResult(result) {
        $("#avatar").attr("src", result.src).show();
        $(".demo-wrap").hide();
        $(".upload-result").hide();
        $("[name='Photo1']").val(result.src);
    }

    function chooseImage() {
        wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                var localId = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                wx.uploadImage({
                    localId: localId[0], // 需要上传的图片的本地ID，由chooseImage接口获得
                    isShowProgressTips: 1, // 默认为1，显示进度提示
                    success: function (r) {
                        var _left = ($(window).width() - $(".zipping").width()) / 2;
                        $(".zipping").css("left", _left).show();
                        var serverId = r.serverId; // 返回图片的服务器端ID
                        $.getJSON("/Weixin/GetWeixinImageBase64?serverId=" + serverId).success(function (json) {
                            readFile(eval("{" + json + "}"));
                            $(".zipping").hide();
                        })
                    }
                });
            }
        });
    }

    $(function () {
        //demoUpload();

        $('form').submit(function () {
            if ($(this).valid()) {
                var btn = $('button:submit');
                btn.attr('disabled', true);

                var Title = $("[name='Title']").val();
                var Description = $("[name='Description']").val();
                var Expectation = $("[name='Expectation']").val();
                //var Language = $("[name='Language']:checked").val();
                var Photo1 = $("[name='Photo1']").val();

                $.ajax({
                    url: "Create",
                    method: 'POST',
                    data: { Title: Title, Description: Description, Expectation: Expectation, Photo1: Photo1 },
                    success: function (data) {
                        if (data == true) {
                            $("[name='info']").text("Has photo");
                        }
                        else {
                            $("[name='info']").text("No photo");
                        }
                    },
                    error: function () {
                        $("[name='info']").text("Error");
                    },
                    complete: function () {
                        $("[name='info']").css("display", "inline");
                    }
                });
            }
            return false;
        });
    })
</script>