@model List<WebChatSwitch.Web.Models.ItemViewModel>

@{
    ViewBag.Title = "Item List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="controlForm controlForm-Gray">
    <div class="searchArea">
        @using (Html.BeginForm("ListView", "Item", FormMethod.Get))
            {   <div class="searchText">
            @Html.TextBox("searchString", "", new { htmlAttributes = new { @class = "txtSearch" } })
        </div>
        <div class="searchButton">
            <input type="submit" value="" class="submitSearch" />
        </div>
        }
    </div>

    <div class="searchResult">
        @{
            if (Model.Count() == 0)
            {
                <div class="item">
                    <p>
                        No Items
                    </p>
                </div>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="item">
                        <div class="itemAuthor">
                            @Html.ActionLink(item.PublishUser, "ViewUserInfo", "User", new { openid = item.PublishUserOpenId }, new { display = "in-lilne" })
                        </div>
                        <div class="itemTitle">
                            @Html.DisplayFor(modelItem => item.Title)
                        </div>
                        <div class="imageList">
                            @foreach (var pic in item.ItemPhotos)
                            {
                                <img src='@pic' />
                            }
                        </div>
                        <div class="itemDescript">
                            @Html.DisplayFor(modelItem => item.Description)  @Html.DisplayFor(modelItem => item.Expectation)
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>

<script>
    $(function () {
        $("img").click(function () {
            var imgArray = [];
            var curImageSrc = $(this).attr('src');
            var oParent = $(this).parent();
            if (curImageSrc && !oParent.attr('href')) {
                oParent.find('img').each(function (index, el) {
                    var itemSrc = $(this).attr('src');
                    imgArray.push(itemSrc);
                });
                wx.previewImage({
                    current: curImageSrc,
                    urls: imgArray
                });
            }
        });
    })
</script>
