<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/Content/css")
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" media="(max-width: 400px)" href="~/Content/small.css" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
        $(function () {
            @*var targeturl = "@System.Configuration.ConfigurationManager.AppSettings["ServiceHostUrl"]";
            var currentUrl = window.location.href;
            $.post(targeturl, { currentURL: currentUrl }).done(function (r) {*@
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: r.appId, // 必填，公众号的唯一标识
                timestamp: r.timestamp, // 必填，生成签名的时间戳
                nonceStr: r.nonceStr, // 必填，生成签名的随机串
                signature: r.signature,// 必填，签名，见附录1
                jsApiList: [
                    'previewImage',
                    'hideMenuItems',
                    'chooseImage',
                    'uploadImage'
                ]  // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });

            wx.ready(function () {
                wx.hideMenuItems({
                    menuList: [
                        "menuItem:share:appMessage",
                        "menuItem:share:timeline",
                        "menuItem:share:qq",
                        "menuItem:share:weiboApp",
                        "menuItem:share:facebook",
                        "menuItem:share:QZone",
                        "menuItem:copyUrl",
                        "menuItem:share:email",
                        "menuItem:openWithQQBrowser",
                        "menuItem:openWithSafari",
                        "menuItem:share:brand",
                        "menuItem:favorite"
                    ] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
                });
            });

            wx.error(function (res) {
                console.log(res);
                // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

            });
            //});
        })
    </script>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
