<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" media="(max-width: 400px)" href="~/Content/small.css" />
    <title>@ViewBag.Title - 纯技术资料共享</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
        $(function () {
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: '@ViewBag.appId', // 必填，公众号的唯一标识
                timestamp: '@ViewBag.timestamp', // 必填，生成签名的时间戳
                nonceStr: '@ViewBag.nonceStr', // 必填，生成签名的随机串
                signature: '@ViewBag.signature',// 必填，签名，见附录1
                jsApiList: [
                    'previewImage',
                    'hideMenuItems',
                    'chooseImage',
                    'uploadImage'
                ]  // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });

            wx.ready(function () {
                wx.hideMenuItems({
                    menuList: [
                        "menuItem:share:appMessage",
                        "menuItem:share:timeline",
                        "menuItem:share:qq",
                        "menuItem:share:weiboApp",
                        "menuItem:share:facebook",
                        "menuItem:share:QZone",
                        "menuItem:copyUrl",
                        "menuItem:share:email",
                        "menuItem:openWithQQBrowser",
                        "menuItem:openWithSafari",
                        "menuItem:share:brand",
                        "menuItem:favorite"
                    ] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
                });
            });

            wx.error(function (res) {
                console.log(res);
                // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
            });
        })
    </script>
    <div class="container body-content" style="height:100%; position:absolute;top: 0px; left:0px; float:left;">
        @RenderBody()
    </div>
    <div id="bottomMenu" class="bottomMenu">
        <ul>
            <li><div onclick="location.href = '@System.Configuration.ConfigurationManager.AppSettings["Domain"]/'">Home</div></li>
            <li><div onclick="location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx25c7164abf77f19c&redirect_uri=@System.Configuration.ConfigurationManager.AppSettings["Domain"]/Item/Create&response_type=code&scope=snsapi_base&state=create#wechat_redirect'">Publish</div></li>
            <li><div onclick="location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx25c7164abf77f19c&redirect_uri=@System.Configuration.ConfigurationManager.AppSettings["Domain"]/Item/ListView&response_type=code&scope=snsapi_base&state=create#wechat_redirect'">List</div></li>
            <li><div onclick="location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx25c7164abf77f19c&redirect_uri=@System.Configuration.ConfigurationManager.AppSettings["Domain"]/User/ViewMyItem&response_type=code&scope=snsapi_base&state=create#wechat_redirect'">Me</div></li>
        </ul>
    </div>
</body>
</html>
